* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  line-height: 46px;
  height: 46px;
  font-size: 40px;
  margin: 15px 0px;
  align-items: left;
}
/*body {*/
/*  background-color: whitesmoke;*/
/*  font-family: "Poppins", sans-serif;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/